# Flutter/Dart
.dart_tool/
.buildlog/
.packages
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
.vscode/
.metadata
*.iml
*.lock

# Build outputs
build/
**/build/

# Android/ iOS / Linux / macOS / Windows / Web gerados
# Remova se você não tiver código nativo customizado
android/
ios/
linux/
macos/
windows/
web/

# Imagens e assets temporários
*.log
*.tmp
*.swp
